# Ignore the Conda virtual environment folder
myenv/
/myenv/

/models/
models/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp
*.swp
*.swo

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.env
venv/

